@font-face {
  font-family: SourceSansPro;
  src: url('./DNA_common/fonts/SourceSansPro-Bold.ttf') format('truetype');
  font-weight: 700;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}

.warningMessage {
	color: #FFF;
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: SourceSansPro;
}
